# кластер из 3 нод (bitnami/rabbitmq умеет кластеризацию)
replicaCount: 3
clustering:
  enabled: true

# использовать наш rabbitmq.conf из Secret
configurationExistingSecret: rabbitmq-config

# доступ наружу по AMQP (для теста — просто LoadBalancer)
service:
  type: ClusterIP        # к UI пойдём через Ingress, LoadBalancer не нужен
  ports:
    amqp: 5672
    manager: 15672      # порт UI (management)

# ingress только для UI (опционально)
ingress:
  enabled: true
  ingressClassName: nginx          # если у тебя класс называется иначе — подставь свой
  hostname: rabbitmq-dev.mycum.ru  # тут твой реальный hostname
  path: /
  pathType: Prefix

  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"

  tls: []
